{% extends "base.html.jinja" %}
{% block content %}
{% include "goto-dropdowns.html.jinja" %}
<table>
  <thead>
    <tr>
      <th></th>
      {% for chara in chara_names -%}
      <th class="chara-header">{{chara}}</th>
      {%- endfor %}
    </tr>
  </thead>
  <tbody>
    {% for c_a in chara_names -%}
    <tr>
      <th scope="row">{{c_a}}</th>
      {% for c_b in chara_names -%}
        {%- if (c_a, c_b) in matchup_diffs -%}
          {%- set c = matchup_diffs[(c_a, c_b)] -%}
            {% if c_a != c_b -%}
            <td class="cell" style="background-color: {{c.cell_color}}">
              <span>{{ c.cell_body }}</span>
              <div class="cell-tooltip">
                <div><b>{{c.c1}}</b> has a</div>
                <div><b>{{ '%+.3f' % c.matchup_diff }}</b> matchup</div>
                <div>versus <b>{{c.c2}}</b></div>
                <div class="smaller">{{ '{:,}'.format(c.n_games)}} games</div>
              </div>
            </td>
            {%- else -%}
            <td class="cell cell-mirror"></td>
            {%- endif %}
        {% else -%}
          <td class="cell cell-gray"></td>
        {%- endif %}
      {%- endfor %}
    </tr>
    {%- endfor %}
  </tbody>
</table>
{% endblock %}
