{% extends "base.html.jinja" %}
{% import 'chart-macro.html.jinja' as chart %}
{% import 'link-list.html.jinja' as link_list %}
{% block content %}
{{ link_list.link_list(links, current_page) }}
<section class="explainer">
<h1>How is this calculated?</h1>
<p>Becuase certain characters have higher or lower winrates across the board, without those winrates necessarily being tied to character strength (see: Panda and Kuma having the highest winrate), these values are <i>not</i> based on their 'true' winrates, or else panda would just have a winning matchup against everyone, etc.</p>
<p>Instead, we first calculate each character's global winrate against everyone. Then, we subtract/add that winrate to the character-specific matchup winrates. Think of the numbers in this grid as "how much does character A's winrate deviate from their <i>average</i> winrate, when playing against character B?"</p>
<p>For example, if Bryan has a 55% winrate, and their value in this chart versus Shaheen is <i>-2.5</i>, that means their winrate versus shaheen is <i>55 - 2.5 = 52.5%</i>.</p>
<p>Don't use these as gospel, as they have a ton of caveats:</p>
<p><ul>
<li>Only online ranked (pulled from wavu)</li>
<li>Some characters have much larger or smaller sample sizes (Some MUs have hundreds of thousands of games played, some only hundreds)</li>
<li>Data is filtered to only include high-ish ranks (TGS/GoD and higher). Had to strike a balance between only getting "high quality" matches at high rank, with getting usable sample sizes (filtering too aggressively means some MUs are only a handful of games played)</li>
</ul></p>
</section>
<h1>Matchups ({{title}})</h1>
{{ chart.chart(chara_names, cells_matchups) }}
<h1>Total Games Played ({{title}})</h1>
{{ chart.chart(chara_names, cells_totals, hide_mirrors=False) }}
{% endblock %}
